* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
p, span, button {
    font-family: 'Chelsea Market', cursive;
}




.wr-body {
    position: fixed;
    margin: auto;
    background-image: url("media/bgutama.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.container {
    margin: auto;
    background-color:transparent;
    width: 800px;
    height: 765px;
}
.container-gi {
    margin: auto;
    width: 1300px;
    height: 100%;
}
.logo {
    margin-top: 300px;
    text-align: center;
    font-size: 38px;
    color: #fffb00;
}
.btn-start {
    margin: auto;
    width: 400px;
    text-align: center;
}
.game-btn {
    margin: auto;
    margin-top: 40px;
    background-color: rgb(0, 182, 0);
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 5px;
    width: 300px;
    height: 60px;
    border: none;
    border-radius: 15px;
    border-bottom: 5px solid rgb(1, 88, 1);
    box-shadow:0px 0px 20px black;
}
.game-btn:hover {
    background-color:  rgb(0, 255, 0);
}
.game-btn:active {
    background-color: rgb(0, 182, 0);
    border: none;
    border-top: 5px transparent;
}
.container-gi .left-cn {
    text-align: center;
    width: 50%;
    float: left;
    height: 750px;
}
.container-gi .right-cn {
    width: 50%;
    float: right;
    height: 750px;
}
.cn-r {
    background-image: url("media/greenboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20px;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
.img-vk {
    margin-top: 10px;
    height: 100%;
    box-shadow: 0px 0px 20px grey;
}
.nyawa {
    position: fixed;
    top: 10px;
    left: 20px;
    width: 80px;
    height: 40px;
    background-color: #fffb00;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid gold;
    box-shadow: 0px 0px 20px black;
}
.close {
    float: right;
}
.keluar {
    position: fixed;
    right: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(175, 0, 0);
    width: 120px;
    height: 50px;
    color: #ffffff;
    box-shadow: 0px 0px 20px black;
}
.keluar:hover {
    background-color: rgb(255, 0, 0);
}
.info {
    margin: auto;
    text-align: center;
    width: 500px;
    height: 480px;
    padding-top: 40px;
    color: #ffffff;
}
.item {
    color: yellow;
    text-align: center;
    margin: auto;
    width: 500px;
    height: 180px;
}
.btn {
    background-color: rgb(0, 121, 202);
    color: yellow;
    border: none;
    margin-top: 10px;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
}
.btn:hover {
    background-color: rgb(5, 188, 194);
}
.mn-item {
    margin: auto;
    margin-right: 50px;
    width: 550px;
}
.mini-btn {
    float: right;
    border: none;
    color: darkorange;
    background-color: transparent;
}
.mini-btn:hover {
    color: rgb(255, 199, 16);
}
.valid {
    float: left;
    font-size: 35px;
    color: darkorange;
}


.end {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 780px;
}
.cd-b {
    padding-top: 300px;
    margin: auto;
    width: 300px;
    height: 400px;
}
.pop {
    padding-top: 50px;
    width: 300px;
    height: 150px;
    text-align: center;
    border: none;
    border-radius: 20px;
}
.lanjut {
    color: #ffffff;
    margin: auto;
    background-color: rgb(0, 182, 0);
    width: 200px;
    border: none;
    border-radius: 15px;
    border-bottom: solid 6px green;
}



#playback {
    display: none;
    position: absolute;
    z-index: -9999;
}